/*.wrapper {
    display: grid; 
    place-items: center;
    height: calc(100vh - 20px);
    background: rgb(243, 240, 240);
  }
.inner {
    background: none;
    color: white;
    padding: 12px;
}
.hide{
    display: none;
}
.show{
    display: block;
}*/