<div class="cart-container p-3">
    <h2 class="cart-title mb-4">Tu Carrito</h2>
    @if(isReady){
      @for(item of cartModel().items; track item.id)
      {
        <div class="cart-item mb-3 p-3">
          <div class="row align-items-center">
            <!-- Imagen del producto -->
            <div class="col-3 col-md-2">
              <a [routerLink]="'/product/'+item.product_id">
                <img appImgBroken [src]="item.image" alt="{{ item.image }}" class="img-fluid rounded">
              </a>
            </div>
            
            <!-- Nombre y detalles del producto -->
            <div class="col-6 col-md-5">
              <h5 class="product-name">{{ item.product_name }}</h5>
              <p class="product-price mb-1"><b>Precio: {{ item.price | number | comaToDot}}</b></p>
              
              <!-- Producto Bundle -->
              @if(item.product_bundle) {
              <div class="product-bundle mt-2 p-2">
                <div class="d-flex align-items-center">
                  <div class="bundle-thumbnail me-2">
                    <img [src]="item.product_bundle.img" class="img-thumbnail" style="width: 40px; height: 40px; object-fit: cover;">
                  </div>
                  <div class="bundle-details">
                    <small class="d-block text-success fw-bold">Oferta especial ({{item.quantity}}):</small>
                    <small class="d-block">{{item.product_bundle.name_budle}}</small>
                    <small class="d-block">
                      @if(item.product_bundle.discount_type === 'fixed') {
                        <span class="text-decoration-line-through">${{item.quantity*item.product_bundle.selling_price | number | comaToDot}}</span>
                        <span class="text-danger fw-bold ms-1">${{item.quantity*item.product_bundle.discount_price | number | comaToDot}}</span>
                      }
                      @if(item.product_bundle.discount_type === 'percentage') {
                        <span class="text-decoration-line-through">${{item.quantity*item.product_bundle.selling_price | number | comaToDot}}</span>
                        <span class="fw-bold ms-1">${{item.quantity*item.product_bundle.discount_price}}</span>
                        <span class="text-danger fw-bold ms-1">{{item.product_bundle.percentage}}% OFF</span>
                      }
                      @if(item.product_bundle.discount_type === 'free') {
                        <span class="text-success fw-bold">¡GRATIS!</span>
                      }
                    </small>
                  </div>
                </div>
              </div>
              } <!-- Cierre del @if para productBundle -->
            </div>
      
            <!-- Controles de cantidad -->
            <div class="col-3 col-md-3 text-center quantity-controls">
              <div class="d-flex align-items-center justify-content-center">
                <button class="btn btn-outline-secondary btn-sm" id="btd_{{item.id}}" (click)="decreaseQuantity(item)">-</button>
                <span class="px-2">{{ item.quantity }}</span>
                <button class="btn btn-outline-secondary btn-sm" id="btn_{{item.id}}" (click)="increaseQuantity(item)">+</button>
              </div>
            </div>
      
            <!-- Botón de eliminar -->
            <div class="col-12 col-md-2 text-md-end mt-2 mt-md-0">
              <button class="btn btn-danger btn-sm" (click)="removeItem(item)">Eliminar</button>
            </div>
          </div>
        </div>
      }
        <!-- Resumen del total -->
        <div class="cart-total p-3 mt-3">
          <div class="text-end">
            <h5>Total: <b>{{ totalPrice() | number | comaToDot}}</b></h5>
          </div>
          <div class="text-center">
            @if(isLooged){
            <button class="btn btn-primary w-10 mt-3" [routerLink]="'/checkout'">Proceder al Pago</button>
            }@else{
              <button class="btn btn-primary w-10 mt-3" [routerLink]="'info'">Proceder al Pago</button>
            }
          </div>
        </div>
      
    }@else{
      <div class="cart-item mb-3 p-3">
        <div class="row align-items-center">
          No tienes productos en tu carrito de compras.
        </div>
      </div>
    }
  </div>