
@if(showToast){
<div class="toast-container position-fixed p-3" [ngClass]="messageModel.vertical + ' ' + messageModel.horizontal">
    <div id="liveToast" class="toast show fade" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        @if(messageModel.icon=='ok'){
            <i class="bi bi-check-circle icon-size-1rem text-success"></i>
        }@else{
          @if(messageModel.icon=='nok'){
            <i class="bi bi-exclamation-circle-fill icon-size-1rem text-danger"></i>
          }@else{
            <i class="bi bi-exclamation-triangle-fill icon-size-1rem text-warning"></i>
          }
        }
        &nbsp;&nbsp;<strong class="me-auto ms-1">{{messageModel.title}}</strong>
        <small>messages</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" (click)="close()"></button>
      </div>
      <div class="toast-body">
        <p [innerHTML]="messageModel.msg | htmlSanitize:'html'"></p>
      </div>
    </div>
</div>
}