<div class="user-account container py-4">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <!-- Información del Usuario -->
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-center">Información Personal</h5>
           

              <!-- Email -->
              <div class="mb-3">
                <label for="firstName" class="form-label">Email</label>
                <input
                  type="text"
                  id="email"
                  class="form-control"
                  readonly="true"
                  disabled="true"
                  [(ngModel)]="email"
                />
              </div>

              <form (ngSubmit)="updateUserInfo()" [formGroup]="userForm">
                <!-- Nombre -->
                <div class="mb-3">
                  <label for="firstName" class="form-label">Nombre</label>
                  <input
                    type="text"
                    id="firstName"
                    formControlName="firstName"
                    class="form-control"
                    [ngClass]="{'is-invalid': showFieldError('firstName')}"
                    maxlength="30"
                  />
                  <div class="invalid-feedback">{{ getFieldError('firstName') }}</div>
                </div>
    
                <!-- Apellido -->
                <div class="mb-3">
                  <label for="lastName" class="form-label">Apellido</label>
                  <input
                    type="text"
                    id="lastName"
                    formControlName="lastName"
                    class="form-control"
                    [ngClass]="{'is-invalid': showFieldError('lastName')}"
                    maxlength="30"
                  />
                  <div class="invalid-feedback">{{ getFieldError('lastName') }}</div>
                </div>
    
                <!-- Teléfono -->
                <div class="mb-3">
                  <label for="phone" class="form-label">Teléfono</label>
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-phone"></i>&nbsp;+56</span> 
                    <input
                      type="text"
                      id="phone"
                      formControlName="phone"
                      class="form-control"
                      [ngClass]="{'is-invalid': showFieldError('phone')}"
                      maxlength="9"
                    /><div class="invalid-feedback">{{ getFieldError('phone') }}</div>
                  </div>
                  
                </div>
    
                <button type="submit" class="btn btn-primary-c1 w-100">Guardar Cambios</button>
            </form>
          </div>
        </div>
  
        <!-- Verificación de Email -->
        @if(!isEmailVerified){
          <div class="alert alert-warning">
            Tu email no ha sido verificado. Por favor, revisa tu bandeja de entrada o
            haz clic <span (click)="resendVerificationEmail()" style="cursor: pointer;"><b>aquí</b></span> para reenviar el correo de verificación.
          </div>
        }
      </div>
    </div>
  </div>
  