
<div class="container-fluid">
    <div class="card rounded elevate forgot">
        <div class="card-title text-center mt-4">        
            <img src="assets/images/Mlogo2.png" width="80%"/>    
        </div>
        <div class="card-body">
            <div class="title text-center">
                <h3><b>Recuperar Contraseña</b></h3>
            </div>
            <form [formGroup]="formUser" (ngSubmit)="changePass()" >
                <input style="display:none"> <!-- for not autofill browsers-->
                <input type="password" style="display:none"><!-- for not autofill browsers-->

                <label for="inputEmail" class="form-label">Email</label>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                    <input type="text" class="form-control" placeholder="Email" aria-label="Email" formControlName="email" readonly="true">
                </div>
                
                <label for="inputPassword" class="form-label">Nueva Contraseña</label>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-key"></i></span>
                    <input type="password" class="form-control" aria-describedby="passwordHelpBlock" formControlName="new_password" maxlength="50" required #newPasswordInput>
                    <span class="input-group-text" (click)="showPass()"><i class="bi bi-eye" id="togglePassword"style="cursor: pointer"></i></span>
                    <div *ngIf="this.formUser.get('new_password')?.invalid && this.formUser.get('new_password')?.touched" class="invalid-feedback text-center d-inline">
                        {{getErrorMessage('new_password')}}
                    </div>
                </div>

                <label for="inputPassword" class="form-label">Confirmación Contraseña</label>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-key"></i></span>
                    <input type="password" class="form-control" aria-describedby="passwordHelpBlock" #passwordInput formControlName="new_password_confirmed" maxlength="50" required pattern="{{ newPasswordInput.value }}" #newPasswordConfirmInput>
                    <span class="input-group-text" (click)="showPass()"><i class="bi bi-eye" id="togglePassword"style="cursor: pointer"></i></span>
                    <div *ngIf="this.formUser.get('new_password_confirmed')?.invalid && this.formUser.get('new_password_confirmed')?.touched" class="invalid-feedback text-center d-inline">
                        {{getErrorMessage('new_password_confirmed')}}
                    </div>
                </div>
                
                <div *ngIf="showMessages" class="alert alert-danger text-center" >
                    {{text}}
                </div>
                <div *ngIf="showMessageSuccess" class="alert alert-success text-center" >
                    {{text}}
                </div>

                @if(!showMessageSuccess){
                    <div class="mt-4 text-center">
                        <button type="submit" class="btn btn-primary-c1" style="width: 80%;" [disabled]="isEnablebtnReset">Cambiar Contraseña</button>
                    </div>
                    <div class="mt-4 text-center">
                        Volver al <a routerLink="/auth/login">login</a> o <a routerLink="/auth/forgot">recuperar contraseña</a>
                    </div>
                }@else {
                     <div class="mt-4 text-center">
                        <a routerLink="/auth/login"><button type="submit" class="btn btn-primary-c1" style="width: 80%;" >Iniciar Sesión</button></a>
                    </div>
                }
                
                
                <div class="mb-4 mt-4">&nbsp;</div>
            </form>
        </div>
    </div>
</div>