
@if(isIterateActive() && isAmountCorrect){
    @if(discountIterate().status=='APPLY'){
        <div class="container text-center alert iterate-purchase">
            <b>🎊🎉🥳👏 Has alcanzado tu descuento de compra recurrente!! 🎊🎉🥳👏</b>
        </div>
    }@else{
        @if(flag2() && discountIterate().status!='APPLY'){
            <div class="container text-center mt-4">
            ⭐ Faltan <b>{{discountIterate().purchase}} </b> compra(s) para tu descuento. ¡Vamos por él! ⭐
            </div>
        }
    }
}