  <div class="address-section mt-4">
    <h6><i class="bi bi-house-heart" style="font-size: 22px; color: rgb(237, 194, 100);"></i> <b>Se entrega en:</b></h6>
    <div class="input-group mb-3">
    <select class="form-select my-3" (change)="handleAddressSelection($event)" [(ngModel)]="addressSelectedCombo">
      @for(address of shippingAddress; track address.id; let i = $index){
        
          <option [value]="address.id">{{ address.name }}</option>
        
      }
      <option value="1">Seleccione Dirección</option>
    </select>
    &nbsp;
    <div style="margin-top: 15px;">
    <app-address-add-edt [btnPluss]="true"></app-address-add-edt>
    </div>
    </div>
    <small class="text-danger errorAddress" [hidden]="!showSelectedAddressError">Seleccione una dirección de envío.</small>
    <h6 class="mt-4"><i class="bi bi-phone" style="font-size: 22px; color: rgb(237, 194, 100);"></i><b> Teléfono (wsp):</b></h6>
    <div class="input-group mb-3">
      <span class="input-group-text"><i class="bi bi-phone"></i>&nbsp;+56</span>
      <input type="text" class="form-control" placeholder="Teléfono" aria-label="phone" [(ngModel)]="wspPhone" (keypress)="allowOnlyNumbers($event)" maxlength="9" (blur)="onBlurPhone()">
      
    </div><small *ngIf="showPhoneError" class="text-danger">Debe ingresar un número de contacto.</small>
  </div>
  
  
  