.product-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.media-wrapper {
  background-color: white !important;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16 / 9;   // 👈 tamaño estable
  max-height: 500px;
  background: #f8f9fa;   // opcional (placeholder visual)
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Imagen */
.media-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Video */
.media-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.thumbnail-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  position: relative;
}

.thumbnail-img:hover {
  border-color: var(--primary-color);
}

.price-section .price {
  font-size: 2rem;
}

.price-out {
  color: red !important;
}

.old-price {
  margin-right: 1rem;
}

.current-price {
  /*font-weight: bold;*/
}

.breadcrumb {
  background: transparent;
}

.bundle-tab {
  position: fixed;
  bottom: 50px;
  right: 15px;
  z-index: 10;
  
  button {
    border-radius: 50px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 8px 16px;
    font-weight: 500;
    i {
      font-size: 1rem;
    }
  }
}

@media (max-width: 768px) {


  .product-title {
    font-size: 25px;
  }

}


